/target/
/src/
/src_train/
/train/
/BTC_XRP.data
/Poloniex
/Poloniex.data
/WorkBook - копия (4).xlsx
/WorkBook - копия.xlsx
/WorkBook.xlsx
/WorkBook.xltx
/WorkBook1.xlsx
/WorkBookTest.xlsx
/~$WorkBook - копия.xlsx
/~$WorkBook.xlsx
